* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FFF;
    overflow-y: scroll; 
    scroll-behavior: smooth; 
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #FFD700;
    font-size: 50px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.highlight {
    color: #FFD700;
}

.content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
}

.content p {
    font-size: 30px; 
    text-align: left; 
    max-width: 60%;
    margin: 0; 
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 8px;
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
}

.app-store, .play-store {
    display: flex;
    align-items: center;
}

.app-store img, .play-store img {
    height: 55px;
}

.taxi-icon img {
    width: 150px;
    margin-top: 20px;
}

.phone-icon img {
    width: 350px;
}

.faqs img {
    width: 200px;
}

.navigator img {
    width: 100px;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen1 {
    background-color: #000;
}

.screen2 {
    background-color: #000;
    color: #FFF;
}

.screen2 .content p {
    font-size: 50px; 
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto; 
    padding: 20px;
    text-align: center; 
}

.text-container p {
    font-size: 30px;
    text-align: center;
    max-width: 60%; 
    margin: 0; 
}

.features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    max-width: 90%; 
    margin: 0 auto; 
    text-align: center;
    height: 100vh;
    flex-wrap: wrap; 
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    margin: 10px; 
}

.feature img {
    width: 200px; 
    margin-bottom: 10px;
}

.feature p {
    font-size: 20px;
    line-height: 1.5;
    color: #FFF;
    text-align: center;
    margin: 0;
}

#unique-screen {
    background-color: #000; 
    color: #FFF; 
}

#unique-screen .content {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    height: 100vh; 
    margin-top: 50px;
}

#unique-screen .text-container {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    white-space: nowrap;
}

#unique-screen .text-container p {
    font-size: 20px; 
    text-align: left; 
    margin: 5px 0; 
}

.text-container-teste {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px; 
}

.text-container-teste.right {
    align-items: flex-end; 
}

.text-container-teste p {
    font-size: 20px; 
    margin: 0;
    white-space: nowrap; 
}

.app-store-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-top: 10px; 
}

.app-store-logo {
    width: 25px;
    height: auto;
}

.redes-sociais-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-top: 10px;
    margin-left: 400px;
}

.redes-sociais-logo {
    width: 200px; 
    height: auto;
}

.text-container-teste a {
    text-decoration: none; 
    color: inherit; 
}

.text-container-teste a:hover {
    color: #FFD700; 
    cursor: pointer; 
}
